@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --yellow: #ffd100;
    --red: #941b0c;
    --black: #000000;
    --grey: #808080;
    --silver: #f3f3f3;
    --white: #ffffff;
}

body {
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container {
    max-width: 760px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 60px;
}

.left-container,
.right-container {
    /* width: 350px; */
    /* min-height: 434px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0px;
    align-items: center;
    padding: 0 30px 30px;
    flex: 0 1 auto;
}

.left-container {
    background-color: var(--white);
}

.right-container {
    background-color: var(--yellow);
}

.wrench-pic {
    margin: 0 auto 40px;
}

.label-pic {
    position: absolute;
    text-align: center;
    left: -8%;
    top: -5%;
}

span {
    position: absolute;
    text-align: center;
    left: -3%;
    top: 2%;
    color: var(--white);
    font-size: 24px;
    rotate: -45deg;
}

.info-cont {
    /* width: 290px; */
    /* height: 98px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.main-text {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 500;
    color: var(--black);
}

.small-text {
    font-size: 14px;
    font-weight: 400;
    color: var(--grey);
    margin-bottom: 30px;
}

.price-cont {
    /* width: 290px; */
    /* height: 84px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    margin-top: 0;
    margin-left: auto;
}

.old-price {
    font-size: 18px;
    font-weight: 500;
    color: var(--grey);
    text-decoration: line-through;
}

.new-price {
    font-size: 43px;
    font-weight: 500;
    color: var(--red);
}

.basket-pic {
    background-color: var(--black);
    position: absolute;
    bottom: 0px;
    left: 0;
    border-radius: 0px 10px;
    padding: 30px 25px;
    margin-top: 30px; 
}

.left-container::before,
.right-container::before {
    content: "";
    position: absolute;
    bottom: 90px;
    left: 0;
    background-color: transparent;
    height: 50px;
    width: 50px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 25px 0 0 var(--black);
  }

  .left-container::after,
  .right-container::after {
    content: "";
    position: absolute;
    left: 95px;
    bottom: 0px;
    background-color: transparent;
    height: 50px;
    width: 50px;
    border-bottom-left-radius: 10px;
    box-shadow: -25px 0px 0 0 var(--black);
  }
