@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --yellow: #ffd100;
    --red: #941b0c;
    --black: #000000;
    --grey: #808080;
    --silver: #f3f3f3;
    --white: #ffffff;
    
}

body {
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container {
    height: 454px;
    width: 760px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
    position: relative;
}

.left-container,
.right-container {
    width: 350px;
    height: 434px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.left-container {
    background-color: var(--white);
    position: relative;
    bottom: 0px;
    align-items: center;
}

.right-container {
    background-color: var(--yellow);
    position: relative;
    bottom: 0px;
    align-items: center;
}

.wrench-pic {
    margin: 0 auto;
    padding-bottom: 10px;
    position: relative;
    /* width: 350px;
    height: 180px; */
}

.label-cont {
    display: flex;
    /* position: relative; */
    position: absolute;
    left: -10%;
    top: -5%;
}

.label-pic {
    position: absolute;
    text-align: center;
    left: -10%;
    top: -5%;
}

.discount {
    /* position: absolute;
    left: -4%;
    top: 5%; */
    
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
    margin: 0;
    rotate: -45deg;
    margin: 28px 0px 0px 15px;
}
.info-cont {
    width: 290px;
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px 0;

}

.main-text {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 500;
    color: var(--black);
}

.small-text {
    font-size: 14px;
    font-weight: 400;
    color: var(--grey);
}

.price-cont {
    width: 290px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}

.old-price {
    font-size: 18px;
    font-weight: 500;
    color: var(--grey);
    text-decoration: line-through;
}

.new-price {
    font-size: 43px;
    font-weight: 500;
    color: var(--red);
}

.basket-pic {
    background-color: var(--black);
    position: absolute;
    bottom: 0px;
    left: 0;
    border-radius: 0px 10px;
    padding: 30px 25px;
    margin-top: 30px; 
}

.basket-pic::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    background-color: red;
    height: 50px;
    width: 50px;
    border-bottom-left-radius: 50%;
    box-shadow: 0 25px 0 0 yellow;
  }